


.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.text-primary{
    color: #4E47FF;
}
.btn-primary{
background-color: #4E47FF;
font-weight: bold;
font-size: 20px;
color: white;
padding: 12px 36px;
border-radius: 5px;
border: none;
}
.section-title{
    font-size: 42px;
    font-weight: bold;
    color: black;
}
.section-description{
    font-size: 24px;
    color: #252432;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
}
nav ul li{
    list-style: none;

}
nav ul{
    display: flex;
}
/* banner style */
.banner-content{
   padding: 267px 267px 152px 450px;
   align-items: center;
   font-size: 30px;
 
}
/* header */
.header{
    background-image: url(../images/Hero-bg.png);
}
.action{
    display: flex;
    border-radius: 10px;
    padding: 50px 159px 0 141px;
}