


.raleway-normal{
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
/* shared style */
.text-primary{
    color: #4E47FF;
}
.btn-primary{
background-color: #4E47FF;
font-weight: bold;
font-size: 20px;
color: white;
padding: 12px 36px;
border-radius: 5px;
border: none;
}
.section-title{
    font-size: 30px;
    font-weight: bold;
    color: black;
}
.section-description{
    font-size: 24px;
    color: #252432;
}
.sacondary-bg{
    background-color: #E6E6FA;
}
/* nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 150px;
}
.nav-title{
    font-weight: 800;
    font-size: 34px;
}
nav ul li{
    list-style: none;

}
nav ul{
    display: flex;
}
/* banner style */
.banner-content{
   padding: 267px 267px 152px 450px;
   align-items: center;
   font-size: 30px;
 
}
/* header */
.header{
    background-image: url(../images/Hero-bg.png);
}
.action{
    display: flex;
    border-radius: 10px;
    padding: 117px 150px 116px 141px.;
}
.productive-user{
    
}

.metric-item {
    display: flex;
    flex-direction: column; 
    align-items: center;  */
    flex: 1;
    min-width: 180px;
}
.metric-item .number {
    font-size:80px;
    font-weight: 700;
    color: #5d5dff; 
    margin-bottom: 1px; 
}

.metric-item .label {
    font-size: 1.1em;
    color: #666666; 
    text-transform: uppercase;
    letter-spacing: 0.5px;
} 

.productive-user{
    border-radius: 10px;
    padding: 50px 142px;
    text-align: center;
    


}
main{
    max-width: 1140px;
    margin: 0 auto;
}
main section{
    margin: 116px;
}
.metrics-grid{
    display: flex;
    justify-content: space-around;

}
.text-center{
    text-align: center;
}
.review-container{
    display: flex;
    gap: 20px;
}
.skill-description{
    padding: 2px
}
.reviewer-details {
    display: flex;
    flex-direction: column;
}
.reviewer-name {
    font-weight: 600;
    color: #333333;
    font-size: 0.95em;
}

.review-date {
    font-size: 0.85em;
    color: #888888;
}
.review{
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    
   
}
.action-image{
    max-width: 100%; /
    height: auto;
    display: block;
    border-radius: 50px; 
    box-shadow: 1px 15px 40px rgba(0, 0, 0, 0.15);
}
. .action-content {
        max-width: 100%; 
        padding-right: 0; 
        margin-bottom: 40px;
    }
    .image-radius{
        border-radius: 35px;
    }